@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'open Sans', sans-serif;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: white;
}






li {
    list-style: none;

}

/*the bar sections*/
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
a:hover{
    color: rgb(108, 184, 187);
}



header{

    position: flex;
    padding: 3rem 2rem;

}

.navbar{
    width: 100%;
    height: 60px;
    color: white;
    max-width: 1200PX;
    display: flex;
    margin: 0 auto;

    margin-left: auto ;
    align-items: center;
    justify-content: space-around;
    margin-top: -40px;

    

}

.navbar .links{
    display: flex;
    gap: 2rem;
    margin-left: 6rem;
    
}


/*-------------for animation-----------------*/
.navbar .links li{
  
    cursor: pointer;
    transition: 0.3s;
}
.navbar .links li:hover{

    font-size: 20px;
    scale: 1.05;
}
    


.navbar .toggle_btn{
    font-size: 2rem;
    cursor: pointer;
    display:none;

}

/*action button*/
.action_btn{
    background-color: rgb(108, 184, 187) ;
    color: rgb(255, 255, 255);
    padding: 0.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.action_btn:hover{
    scale: 1.05;
    font-size: 16px;
    color: white;
    background-color: crimson;
}
.action_btn:active{
    scale: 0.95;
}

/*menu drop down*/
.dropdown_menu{
    font-size: 20px;
    font-weight: 600;
    position: inherit;        
    right: 3rem;
    width: 300px;
    top: 150px;
    height: 0;
    background: rgb(241, 234, 234);
    backdrop-filter: blur(15px);
    

    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

.dropdown_menu.open{
    height: 460px;
}
.dropdown_menu li{
    padding: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;

}



html{
    scroll-behavior: smooth;
    height: 100%;
    
}




/*<<<<<<<<<<<<<<            sections for first page                  >>>>>>>>>....*/


/*           DON'T TOUCH !!!!!!              */
section{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: flex;
    margin-top: 8rem;



}



/* ------   sliders    ------*/


/*------------       end of slides        ------------*/   


.text {
    width: 90%;
    color: rgb(3, 104, 255);
    position: absolute;
    top: 20%;
    left: 3rem;
    text-align: center;
    font-size: 35px;
    font-weight: 600;

}

.text p{
    font-size: 18px;
    color:black;
    text-align: center;
    margin: 10px 0 40px;
}


.text h1{
    font-size: 18px;
    margin-top: 7rem;
    margin-bottom: -3rem;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.text h4{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 5rem;
    font-weight: bold;
    font-style: italic;
    
    position: relative;

}



/*   -----------------                  end of sections for first page                 ---------------*/







/* --------                       Services_Section in another page!!!!!!!!!!!!!!           ---------->*/

#Services_Section h4{
    color: rgb(0, 156, 156);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 10px 0 40px;
}

/*  ------------               end of section for service/*






/*-------                 section for get in touch       -------   */


#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    
}

.container{
    position: fixed;
    width: 400px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgb(255, 255, 255);
    
}

.container h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.container .input-box{
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid white ;

}
.container .input-box label{
    position: absolute;
    color: white;
    top: 50%;
    left: 5px;
    font-size: 17px;
    pointer-events: none;
    transition: 0.3s;

}
.container .input-box textarea,
.container .input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
    outline: none;

}
.container .input-box textarea{
    padding: 10px 0;
    resize: none;
}

.container .input-box textarea:focus ~ label,
.container .input-box textarea:valid ~ label,

.container .input-box input:valid ~ label,
.container .input-box input:focus ~ label{
    top: -15px;

}








.bookbtn{
    width: 80%;
    height: 60px;

    margin-left: 2rem;

    color: black;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(5, 222, 255) ;
    margin-top: 5rem;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.3s;
}
.bookbtn:hover{
    scale: 1.05;
    font-size: 25px;



    background: rgb(119, 4, 4);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(119, 4, 4);
    color: white;
    font-weight: 600;
}
.bookbtn:active{
    scale: 0.95;

}

/* --------      END OF GET IN TOUCH    - -----------*/


/*-------------robot -------------*/
section#section_wrapper {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}
section#section_wrapper .wrapper{
    margin: 100px auto;
    width: 85%;
    margin-left: 3rem;
}
section#section_wrapper .wrapper img{
    max-width: 320px;
    margin-right: 15px;
    float: left;
}
.text-box h1{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    width: auto;
    background-color: bisque;
    padding-left: -80px;
    margin-left: auto;

   border-radius: 30px;
}
    
/* ----------------end of robot     ------------*/






section#business {
    width: 85%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    display: flex;
}


.introtobusiness h1{
    margin-left: 2rem;
    margin-top:3rem ;
    margin-bottom: -3rem;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    justify-content: center;
    align-items: center;
    align-content:center ;

}



section#business .container2 {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}
section#business .container2 .card{
    position: relative;
    max-width: 300px;
    height: 580px;
    background-color: rgb(132, 180, 152);
    
    margin: 40px 20px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;


}
section#business .container2 .card:hover{
    height: 450px;
}

section#business .container2 .card .imgBx{
    position: relative;
    width: 260px;
    height: auto;
    top: -50px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px rgb(0,0,0,0.2);

}

section#business .container2 .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
    filter: grayscale(95%);
}
section#business .container2 .card .imgBx img:hover{
    filter: grayscale(0%);

}
section#business .container2 .card .content{
    position: relative;
    margin: -100px;
    padding: 30px 30px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
section#business .container2 .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
section#business .container2 .card:hover .content h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section#business .container2 .card:hover .content p{
    font-style: italic;
}
/*------------/---------------------------------------------------*/




/*----------- btn for consultaion---------------------*/
section#btnsection{
    width: 100%;
    height:60vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -10rem;


}

section#btnsection .adbtn{
    background-color: rgb(108, 184, 187) ;
    color: rgb(255, 255, 255);
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 2rem;
    
}
section#btnsection .adbtn:hover{
    scale: 1.05;
    font-size: 16px;
    color: white;
    background-color: crimson;
}
section#btnsection .adbtn:active{
    scale: 0.95;
}
/*        end of btn for consultation            */


/* --------------       ad text for asking to consult       */
section#adtext{
    width: 90%;
    height: 60vh;
    margin-top: 10rem;

    position: relative;
    align-items: center;
    justify-content: center;
    
}

section#adtext .textbox{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
}
section#adtext .textbox h1{
    font-size: 40px;
}
section#adtext .textbox p{
    margin-top: 3rem;
    margin-left: 2rem;
    font-size: 20px;
}
/* ------------------------------------*/

section#special_offers{
    width: 90%;
    height: 60vh;
    text-align: center;
    justify-content: center;  
    display: flex;
    position: relative;
    margin-top: -10rem;
}
section#special_offers .textbox2{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
    margin-left: 2rem

}
section#special_offers .textbox2 h1{
    color: rgb(26, 111, 145);
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: left;
    font-size: 30px;
    align-items: flex-start;
    padding-bottom: 15px;
    border-bottom: 3px solid green;
    border-top: 3px solid green;
}

section#special_offers .textbox2 p{
    margin-top: 3rem;
    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    
    color: rgb(255, 255, 255);
    padding: 10px;

}
/******* --------------     end of special offers intro --------*/

/* ------- so special section -------*/
section#sospecial{
    height: 40vh;
    width: 90%;
    position: relative;
   

}


/*web--*/
section#sospecial .web{

    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    text-wrap: wrap;
}


.webimg{
    float: left;
    width: 30%;
    margin-top: -7rem;

}
section#sospecial .web h1{

    display:inline-block;
    font-size: 35px;
    font-weight: bold;
    color: rgb(9, 199, 247);
    margin-left: 2rem;
}
section#sospecial .web p{
    



    margin-top: 2rem;
    margin-left: 28%;
    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;





    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    
    color: rgb(255, 255, 255);
    padding: 10px;
}
/*end of web*/



section#sospecial2{
    height: 30vh;
    width: 90%;
    position: relative;
    text-wrap: wrap;
   

}

section#sospecial2 .film{
    margin-top: -400px;


    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    text-wrap: wrap;

}


 .filmimg{
    float: left;
    width: 30%;
    margin-top: -7rem;
    

}
section#sospecial2 .film h2{
    

    display:inline-block;
    font-size: 35px;
    font-weight: bold;
    color: rgb(9, 199, 247);
    margin-left: 1rem;
}
section#sospecial2 .film p{
    margin-top: 2rem;
    margin-left: 28%;
    font-size: 20px;
    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    
    color: rgb(255, 255, 255);
    padding: 20px;




    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    
    color: rgb(255, 255, 255);
    padding: 10px;
    

}
/* end of special 2     -----*/



/*************************************************/
section#sospecial3{
    height: 30vh;
    width: 70%;
    position: relative;
    text-wrap: wrap; 
    justify-content: center;
    align-items: center;

}


section#sospecial3 .appl{
    margin-top: -65%;
    margin-left: 2rem;
  


}
.applimg{
    float: left;
    width: 20%;
    margin-left: 7rem;

    margin-top: -5rem;

}
section#sospecial3 h3{
    
    display:inline-block;
    font-size: 35px;
    font-weight: bold;
    color: rgb(9, 199, 247);
    margin-left: 10rem;

}
section#sospecial3 p{
    margin-top: 2rem;
    margin-left: 40%;
    background-color: rgb(46, 104, 104);
    border-radius: 20px;
    font-weight: 450;
    font-size: 20px;

    
    color: rgb(255, 255, 255);
    padding: 10px;

}
/*----------------------end of special services---------------------------*/


section#Sbtnsection{

    height: 30vh;
    width:50% ;
    text-align: center;
    margin-top: 2rem;
    display: inline-block;
    position: flex;
    /*left: 50%;*/
    margin-left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: -20rem;

}
section#Sbtnsection h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    
}
section#Sbtnsection .btn2{
    display: inline-block;
    margin-top: 7%;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    text-decoration: none;
    font-weight: 400;
    border-radius: 25px;
    letter-spacing: 0.1em;
    padding: 10PX 30px;
    background-color: antiquewhite;
    transition: 0.5s;
}
section#Sbtnsection .btn2:hover{
    background: rgb(126, 224, 231);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(126, 224, 231);

}
/******************************************************/

/*----------tailored packages---------*/
section#pagepackages{
    display: inline-block;
    margin-top: -80%;
    margin-left: 150px;
    width: 80%;
    text-align: center;  
    
    
}
section#pagepackages h1{
    font-size: 35px;
}
section#pagepackages p{
    padding-top: 25px;
    font-style: italic;
}
/**********************************************/



/*------------------packages-------------------*/


section#packages{
    background-color: antiquewhite;
    border-radius: 250px;
    padding: 80px 80px;
    margin-top: -20%;
}

section#packages .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0px;
    padding: 20px;
}

section#packages .grid .box{
    width: 350px;
    border: 1px solid #eee ;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.05);

}
section#packages .grid .box .title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(35, 104, 58);
    letter-spacing: 2px;

}
section#packages .grid .box .price{
    margin-bottom: 25px;

}
section#packages .grid .box .price b{
    display: block;
    font-size: 40px;
    margin-top: -5px;
}

section#packages .grid .box .features >*{
    color: #292e2e;
    padding: 9px 0px;
    text-align: left;
    margin-left: 2rem;
    border-bottom: 1px solid rgb(14, 36, 20);


}

section#packages .grid .box .btn button{
    width: 50%;
    margin:25px 0px 0px;
    padding: 10px;
    background: #73e4e4;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;

}
section#packages .grid .box .btn button:hover{
    background: rgb(119, 4, 4);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(119, 4, 4);
    color: white;
    font-weight: 600;

}



section#packages .grid .box.PREMIUM{
    transform: scale(1.1);
    background: #73e4e4;
}
section#packages .grid .box.PREMIUM .title{
    color:
    white ;
}
section#packages .grid .box.PREMIUM .price{
    color: white;

}

section#packages .grid .box.PREMIUM .features >*{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(10, 99, 22);

}
section#packages .grid .box.PREMIUM .btn button{
    background: #eee;
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}
section#packages .grid .box.PREMIUM .btn button:hover{
    background: rgb(114, 18, 18);
    color: #fff;


}
/***************************************--------------------------------*/


section#freecons{
    height: 60vh;

    margin-top: 10%;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
    

    

}
section#freecons h1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #185732;


}
section#freecons p{
    padding-top: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
section#freecons .consbtn button{
    width: 30%;
    margin:25px 0px 10rem;      /*for spacing around the item*/
    padding: 20px;
    background: #73e4e4;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;

}
section#freecons .consbtn button:hover{
    background: rgb(119, 4, 4);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(119, 4, 4);
    color: white;
    font-weight: 600;

}

section#freecons .consbtn {    /*-----for border only----*/
    padding-top: 20px;
    border-bottom: 7px solid rgb(20, 92, 39);

}


/*------------location------*/
section#location{
    margin-top: 800px;
    height: 60vh;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
   
}
section#location h1{
    font-size: 40px;
    color: #176130;
    
}
section#location .grid2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 50px;
    padding: 80px;
    
}
section#location .grid2 .box2{
    width: 550px;
    border: 1px solid #eee ;
    padding: 30px;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.05);

}
section#location .grid2 .box2 .title2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(5, 151, 156);
    letter-spacing: 2px;

}
section#location .grid2 .box2 .infoo >*{
    color: #000000;
    padding: 40px 20px;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid rgb(5, 83, 26);

}



/*----social media-----*/
section#location .grid2 .box2 .title2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(5, 151, 156);
    letter-spacing: 2px;

}
section#location .grid2 .box2 .infooo >*{
    padding: 20px 20px;
    font-size: 35px;
    text-align: left;

}
section#location .btn5 button{
    width: 30%;
    margin:25px 0px 10rem;      
    padding: 20px;
    background: #73e4e4;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;

    margin-bottom: auto;


}
section#location .btn5 button:hover{
    background: rgb(119, 4, 4);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px rgb(119, 4, 4);
    color: white;
    font-weight: 600;
    width: 50%;

}

/*///////////////end of page/////////////////////-*/





/*     foooter-*********/
.end{
    margin-top: 2200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    
    background: linear-gradient(to right, rgb(114, 190, 204),rgb(235, 215, 106));





    position: relative;
    width: 100%;
    padding: 30px 30px;
    flex-direction: column;
}
.end .social-icons, .end .menu, .policy{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;


}


.end .social-icons li, .end .menu li, .policy{
    list-style: none;
}
.end .social-icons li a{
    font-size: 2em;
    color:rgb(0, 0, 0) ;
    margin: 0 10px;
    display: inline-block;
    transition: 1s;

}
.end .social-icons li a:hover{
    color: rgb(31, 200, 223);
    box-shadow: 0 0 50px rgb(191, 248, 252);
    letter-spacing: 3px;


}


.end .menu li a{
    font-size: 20px;
    margin: 0 20px;
    display: inline-block;
    opacity: 0.75;
    transition: 1s;

}
.end .menu li a:hover{
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 0 0 30px rgb(5, 107, 114);
    letter-spacing: 2px;


}



.end p{
    color: #000000;
    text-align:center;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0.75;
    font-size: 1.2em;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*       <<<<<        services     >>>>                       -*










/*<<<<<<<<<<<<<<<<              media            >>>>>>>>>>>*/

@media(max-width:992px) {
    .navbar .links,
    .navbar .action_btn
    {
        display: none;
    }
   
    .navbar .toggle_btn{
        display: block;
        margin-left: auto;
    }

    .dropdown_menu{
        display: block;

    }
    section#Home #front{
        margin-top: -15rem;
    }
    section#Home #front h1{
        font-size: 20PX;
    }
    .text{
        position: inherit;
    }
    section{
        margin: -3rem;
        width: 100%;

    }
 
    .text {
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
    section#Home .slider{
        margin-left: 3rem ;
        margin-right: -3rem;
        
    }
    
    .text-box h1{
        font-size: 25px;
       /* margin-inline: 15px;*/
        display: relative;
        margin-right: auto;
        align-items: flex;   
        width: 100%;

    }
    section#section_wrapper .wrapper img{
        width: 200px;
    }
    section#section_wrapper {
        height: fit-content;
        margin-left: 1.5rem;
        width: 85%;
    }
    section#business .container2 .card{
        margin: 60px 10px;

    }
    section#adtext{
        top: 30%;
    }
    section#btnsection{
        top: 60%;
    }
    .container{
        width: 60%;
        height: 80%;

    }
    section#adtext .textbox p{
        font-size: 18px;
        width: 100%;
        text-align:left;

    }



    section#special_offers{
        top: 90%;
        text-align: left;


    }
    section#special_offers .textbox2{
        width: 100%;
        margin-top: -5rem;

    }

    section#special_offers h1{
        font-size: 15px;
        margin-left: 4rem;

    }
    section#special_offers p{
        margin-left: 4rem;
        margin-bottom: 200px;

        

    }

    /*so special*/

    section#sospecial{
        height: 60vh;
        top: 80%;
        margin-top: 15rem;
        margin-left: 2rem;
    }
    section#sospecial .webimg{
        width: 90%;
    }

    section#sospecial .web {
        position: flex;
        width: 90%;
        margin: 15px;

    }
    section#sospecial .web p{
        


        font-size: 18px;

        width: 90%;
        margin-left: 2rem;
        
    }

   


    /*-----------------------------*/


    section#sospecial2{
        height: 60vh;
        top: 60%;
        width: 80%;
        margin-top: 20rem;
        margin-left: 2rem;
    }
    section#sospecial2 .filmimg{
        width: 90%;
    }

    section#sospecial2 .film {
        position: flex;
        width: 80%;
        margin: 15px;
        margin-top: auto;
    }
    section#sospecial2 .film p{
        font-size: 18px;

        width: 100%;
        margin-left: 2rem;
    }

    

    /*-----------------------------------*/

    section#sospecial3{
        top: 100%;
    }
    section#sospecial3 .applimg{
        width: 40%;
        margin-left: 40%;

    }
    section#sospecial3 .appl{
        margin-left: 25%;
    }
    section#sospecial3 .appl p{
        font-size: 18px;
        width: 80%;
        margin-left: 7rem;
    }
    section#Sbtnsection{
        position: flex;
        
        
        top: auto;
        margin-top: 1200px;
        margin-left: 1rem;
        width: 50%;
        margin-left: 50%;
    
        
    }
    section#Sbtnsection .btn2{
        font-size: 20px;
        padding: 15px 35px;
    }


    section#pagepackages{
        width: 80%;
        margin-left: 3rem;
    }
    /*-----*/


    section#packages{
        margin-left: 2rem;
        width:90% ;
    }
    section#packages .grid{
        gap: 7rem;
    }


    /*-------------------------*/



    section#freecons{
        margin-left:auto
    }



    section#location{
        width: 80%;
        margin-left: auto;
    }


    section#location .grid2 .box2 .infoo >*{
        padding: 50px ;
    }
    section#location .grid2 .box2.socialmedia{
        
        width: 100%;
      


    }
 
    section#location .btn5 button{
        width: 60%;
    }
    section#location .btn5 button:hover{
        width: 100%;
    }





    .end{
        top:50% ;
        width: 100%;
        margin-left: 0;
        
       
        

    }

    .end .social-icons{

        width: 90%;
        
    }

    .end .menu{
        width: 20%;
        margin: auto;
        padding: 50px 0 auto;
        justify-content: space-around;
        margin-left: 25%;
        
    }
    .end .menu li{
        padding:10px 5px ;
        


    }




   
   




}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}
    

   
    
  
   
